@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700');


.nav-link {color: rgb(12, 0, 0);}

body {
  margin:0;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.1em;
  color: #EEE;
  animation: rotate 2s ease-in-out alternate infinite;
}
h1:before {
  content: attr(data-shadow);
  color: transparent;
  text-shadow: 0 0 15px rgb(233, 203, 70);
  position: absolute;
  z-index: -1;
  margin: -0.1em 0 0 0;
  animation: skew 2s ease-in-out alternate infinite;
  transform-origin: bottom;
}

@keyframes rotate {
  from {
    transform: rotateY(-10deg);
    text-shadow:  1px -1px #CCC,
                  2px -1px #BBB,
                  3px -2px #AAA,
                  4px -2px #999,
                  5px -3px #888,
                  6px -3px #777;
  }
  to {
    transform: rotateY(10deg);
    text-shadow:  -1px -1px #CCC,
                  -2px -1px #BBB,
                  -3px -2px #AAA,
                  -4px -2px #999,
                  -5px -3px #888,
                  -6px -3px #777;
  }
}
@keyframes skew {
  from {
    transform: scaleY(0.3) skewX(-15deg);
  }
  to {
    transform: scaleY(0.3) skewX(-20deg);
  }
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  /* background: linear-gradient(60deg, rgb(184, 53, 129) 0%, rgb(20, 83, 92) 100%); */
  background-color: #ceb12f;
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  /* text-align:center; */
  text-align:left;
  /* background-color: white; */
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/* css for signup/signin page */

*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	padding: 20px;
	color:white;
}
body{
	margin: 0;
  padding: 0;
	background: #eef3f2 ;
	
}
h2{
	text-align: center;
	padding: 20px;
	color: white;
}
.register{
	background: #343434; 
	width: 500px;
	margin: 0% auto 55px;
	color: white;
	font-size: 18px;
	padding: 23px;
	border-radius: 10px;
}

label{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;
}


/* footer css */

footer {
  background:black;
  text-align:center;
  line-height: normal;
  padding:30px;
}
.p-tag
{
  color: white;
}

li {
  display:inline-block;
}

.social-icon{
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  border-radius: 100%;
  margin:20px;
  filter:grayscale(100);
}
.social-icon:hover {
  filter: grayscale(0);
} 

.svg-instagram {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  border-radius: 100%;
}
iframe {
  max-width : 100%;
  width : 80%;
}

.follow-us-container{
  position : relative;
}

.g-map{
  position : absolute;
  right : 0;
}

.g-map-desk{
  display : none; 

}

.scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

@media screen and (max-width : 900px){
  .g-map{
    display : none;
  }
  
  .g-map-desk{
    display : block;
  }
}
/* css for user-login form*/

.login{
padding: 50px 20px 20px 20px;
opacity: 0.95;

}

.login form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius:25px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.login .form-icon{
  text-align: center;
  background-color: #051d4d;
  border-radius: 50%;
  padding-top: 25px;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top:10px;
  margin-bottom: 50px;
  line-height: 100px;

}

.login .item{
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border-color: rgb(14, 4, 41);
}

.login .submit{
  border-radius: 30px;
  border-color: rgb(14, 4, 41);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff3e3e;
  border: none;
  color: rgb(253, 253, 253);
  margin-top: 20px;
}
.forgot{
  color:#03163b;
}