/* COLORS */
:root {
  --clr-primary-bg: hsl(240, 3%, 12%);
  --clr-primary-txt: hsl(0, 0%, 100%);
  --clr-secondary-bg: hsl(225, 65%, 44%);
  --clr-secondary-txt: hsl(0, 0%, 98%);
  --clr-neutral-txt: hsl(209, 100%, 56%);
  --clr-black: rgb(0, 0, 0);
  --clr-bs-black: rgba(0, 0, 0, 0.6);
  --clr-gray: hsl(0, 0%, 23%);
}

/* FONTS */
:root {
  --ff-pp: "Poppins", sans-serif;
  --fw-lt: 300;
  --fw-rg: 400;
  --fw-md: 500;
  --fw-bd: 600;
  --fw-sb: 700;
  --fw-xb: 800;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.6rem;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  min-height: 100%;
}

img {
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
.button {
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, transform 0.4s;
  font: inherit;
  border: none;
  background: transparent;
}

button:active,
.button:active {
  transform: scale(0.95);
}

.button {
  background-color: var(--clr-secondary-bg);
  color: var(--clr-primary-txt);
  padding: 0.6rem 2.1rem;
  border-radius: 0.4rem;
  font-size: var(--fs-xs);
  font-weight: var(--fw-md);
}

a.button:hover {
  text-decoration: none;
}

/* BODY */
body {
  background-color: var(--clr-primary-bg);
  padding: 3.9rem 0;
  width: 85%;
  margin: auto;
  font: var(--fw-rg) var(--fs-md) var(--ff-pp);
  color: var(--clr-secondary-txt);
  position: relative;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 10rem;
}

header .logo + .button {
  margin-right: 1.6rem;
}

.nav-btn {
  display: flex;
}

.nav-btn img {
  width: 2rem;
}

.nav-list {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1.6rem;
  background-color: var(--clr-primary-bg);
  border-radius: 0.8rem;
  box-shadow: 0.3rem 0.3rem 2rem var(--clr-bs-black);
  font-size: var(--fs-sm);
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

.nav-list.view {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.nav-list li {
  padding: 2rem;
}

.nav-list li:hover {
  background-color: var(--clr-bs-black);
}

.nav-list a {
  color: inherit;
  width: 100%;
  display: inline-block;
}

/* MAIN */
main {
  margin: 7rem 0;
}

.hero-content {
  text-align: center;
}

.hero-content .hero-h1 {
  color: var(--clr-primary-txt);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bd);
  margin: auto;
  margin-bottom: 5rem;
  width: 31.875rem;
}

.colored {
  color: var(--clr-neutral-txt);
}

.hero-content img {
  width: min(80%, 44rem);
}

.hero-illust {
  display: none;
}

/* SIGNUP */

.signup h1 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bd);
  text-align: center;
}

.signup form {
  margin-top: 4rem;
}

form > * + * {
  margin-top: 2.4rem;
}

form label {
  font-size: var(--fs-sm);
  font-weight: var(--fw-lt);
  margin-left: 0.2rem;
}

form .input-field {
  width: 100%;
  height: 3.8rem;
  background-color: var(--clr-gray);
  border-radius: 0.6rem;
  margin-top: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-color: transparent;
  border-style: solid;
  border-width: 0.17rem;
  transition: border-color 0.4s ease-in-out;
}

form .input-field:hover {
  border-color: var(--clr-black);
}

form .input-field.focusing {
  border-color: var(--clr-secondary-bg);
}

@supports (display: flex) {
  form .input-field {
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
  }
}

form .input-field input,
form .input-field select {
  width: 100%;
  background: transparent;
  border: none;
  color: var(--clr-primary-txt);
  font: inherit;
  font-size: var(--fs-xs);
}

form .input-field select option {
  background-color: var(--clr-primary-bg);
  box-shadow: 0.3rem 0.3rem 2rem var(--clr-bs-black);
}

form .input-field input:focus,
form .input-field select:focus {
  outline: none;
}

form .form-footer {
  text-align: center;
  margin-top: 4rem;
}

form .form-footer .button {
  padding: 0.8rem 2.4rem;
}

form .form-footer .tip {
  font-size: var(--fs-xs);
  margin-top: 1.2rem;
  font-weight: var(--fw-lt);
}

.tip .colored {
  font-weight: var(--fw-md);
}

/* FIELD INVALID */
form .input-group {
  position: relative;
}

form .invalid {
  position: absolute;
  font-size: var(--fs-xs);
  font-weight: var(--fw-md);
  color: #ff7a7a;
  margin-top: 0.5rem;
  top: 0;
  right: 0;
}

/* FOOTER */
footer {
  text-align: center;
}

footer .social {
  margin-bottom: 2rem;
}

footer .social a {
  width: 3.4rem;
  height: 3.4rem;
  display: inline-block;
}

footer .social a img {
  width: 100%;
}

footer .social a:nth-child(2) {
  margin: 0 2rem;
}

footer .cright {
  font-size: var(--fs-xs);
}

@media (max-width: 375px) {
  html {
    font-size: 2.649vw;
  }
}

@media (min-width: 731px) {
  .hero {
    display: flex;
    width: 85%;
    margin: auto;
    height: 31rem;
    justify-content: space-between;
  }
  .hero-content {
    width: 50%;
    text-align: left;
  }
  .hero-content .hero-h1 {
    width: auto;
  }
  .hero-content img {
    width: 25rem;
  }
  .hero-illust {
    width: 50%;
    display: initial;
    display: flex;
  }
  .hero-illust img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.92vw;
  }
  .hero {
    width: 80%;
  }
  .nav-btn {
    display: none;
  }
  .auth-log {
    order: 1;
  }
  .nav-list {
    display: flex;
    position: static;
    background: none;
    opacity: 1;
    margin-top: 0;
    box-shadow: none;
    transform: scale(1);
    font-size: var(--fs-xs);
    pointer-events: all;
  }
  .nav-list li {
    padding: 0;
  }
  .nav-list li:hover {
    background: none;
  }
  .nav-list > * + * {
    margin-left: 2.5rem;
  }
  .signup form {
    display: grid;
    grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem);
    gap: 3rem;
    position: relative;
  }
  .signup form > * + * {
    margin: 0;
  }
  .signup form .form-footer {
    align-self: end;
    justify-self: right;
  }
  .signup form .form-footer .tip {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1441px) {
  html {
    font-size: 0.7vw;
  }
  .hero {
    width: 65%;
  }
}
