<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div dir="ltr">
      <span id="gmail-docs-internal-guid-433033a4-7fff-bff4-2cde-789a0248bd40">
        <br />
        <div dir="ltr" style="margin-left: 0pt" align="left">
          <table
            style="
              border: none;
              border-collapse: collapse;
              width: 468pt;
              table-layout: fixed;
            "
          >
            <colgroup>
              <col />
            </colgroup>
            <tbody>
              <tr style="height: 0pt">
                <td
                  style="
                    vertical-align: top;
                    background-color: rgb(243, 243, 243);
                    padding: 21.6pt;
                    overflow: hidden;
                  "
                >
                  <br />
                  <div dir="ltr" style="margin-left: 0pt" align="center">
                    <table
                      style="
                        border: none;
                        border-collapse: collapse;
                        width: 100%;
                        table-layout: fixed;
                      "
                    >
                      <colgroup>
                        <col />
                        <col width="286" />
                      </colgroup>
                      <tbody>
                        <tr style="height: 20pt">
                          <td
                            colspan="2"
                            style="
                              vertical-align: top;
                              background-color: rgb(255, 255, 255);
                              padding: 21.6pt;
                              overflow: hidden;
                            "
                          >
                            <p
                              dir="ltr"
                              style="
                                line-height: 1.2;
                                text-align: center;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 8pt;
                                  font-family: 'Google Sans', sans-serif;
                                  color: rgb(67, 67, 67);
                                  background-color: transparent;
                                  font-weight: 700;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                ></span>
                            </p>
                          </td>
                        </tr>
                        
                        <tr style="height: 5pt">
                          <td
                            colspan="2"
                            style="
                              vertical-align: top;
                              background-color: rgb(255, 255, 255);
                              padding: 21.6pt;
                              overflow: hidden;
                            "
                          >
                            <p
                              dir="ltr"
                              style="
                                line-height: 1.38;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 10pt;
                                  font-family: 'Google Sans', sans-serif;
                                  color: rgb(0, 0, 0);
                                  background-color: transparent;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                >Hello {{receiver}}!</span
                              >
                            </p>
                            
                            <br />
                            
                            <p
                              dir="ltr"
                              style="
                                line-height: 1.38;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 10pt;
                                  font-family: 'Google Sans', sans-serif;
                                  color: rgb(0, 0, 0);
                                  background-color: transparent;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                >We have received OTP request from your account.</span>
                              <span
                                style="
                                  font-size: 10pt;
                                  background-color: transparent;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                              ></span>
                            </p>

                            <br />
                            <p
                              dir="ltr"
                              style="
                                line-height: 1.38;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 10pt;
                                  font-family: 'Google Sans', sans-serif;
                                  color: rgb(0, 0, 0);
                                  background-color: transparent;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                >To confirm it's you, please enter <strong>{{otp}}</strong> as One-Time Password (OTP).</span>
                            </p>

                            <br />

                            <p
                              dir="ltr"
                              style="
                                line-height: 1.38;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 10pt;
                                  font-family: 'Google Sans', sans-serif;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                >Regards,</span
                              >
                            </p>
                            <p
                              dir="ltr"
                              style="
                                line-height: 1.38;
                                margin-top: 0pt;
                                margin-bottom: 0pt;
                              "
                            >
                              <span
                                style="
                                  font-size: 10pt;
                                  font-family: 'Google Sans', sans-serif;
                                  font-variant-numeric: normal;
                                  font-variant-east-asian: normal;
                                  vertical-align: baseline;
                                  white-space: pre-wrap;
                                "
                                >Share N Learn</span
                              >
                            </p>
                            <br />
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <br />
                  <p
                    dir="ltr"
                    style="
                      line-height: 1.38;
                      margin-top: 0pt;
                      margin-bottom: 0pt;
                    "
                  >
                    <span
                      style="
                        font-size: 8pt;
                        font-family: 'Google Sans', sans-serif;
                        color: rgb(153, 153, 153);
                        background-color: transparent;
                        font-variant-numeric: normal;
                        font-variant-east-asian: normal;
                        vertical-align: baseline;
                        white-space: pre-wrap;
                      "
                      >.
                    </span>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
      </span>
    </div>
  </body>
</html>