{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="about-hero">
    <div class="hero-content">
      <h1 class="hero-h1">Our mission is to grow together</h1>
    </div>
    <div class="hero-illust">
      <img src="{% static 'images/about-hero-illustration.svg' %}" alt="illustration of team members standing together">
    </div>
  </div>
  <div class="about-features">
    <div class="feature essence-div">
      <i class="fas fa-cog feature-img"></i>
      <h3 class="feature-heading colored">Essence</h3>
      <p class="feature-text">Share N Learn is a Common Platform for Students &amp; Faculties to upload and share files including study material which will be accessible to all the registered members.</p>
    </div>
    <div class="feature goal-div">
      <i class="fas fa-check-circle feature-img"></i>
      <h3 class="feature-heading colored">Goal</h3>
      <p class="feature-text">The Goal of the project is to create a secure and scalable platform common to both college students and faculties so that they can easily share the files / resources related to the coursework.</p>
    </div>
  </div>
</main>
{% include "footer1.html" %}
{% endblock content %}