{%extends 'admin_nav.html'%}
{% load static%}
{% block body %}
<style>
    .container1 {
        background-color: lightgrey;
        border-radius: 8px;
    }
    h2, h4 {
        padding: 10px;
    }

    .mydiv:hover {
        transform:translateY(-10px);
    }
</style>

<br/>
<br/>
<!-- <div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 text-center mydiv mt-3">
            <div class="container1">
                <h2 class="text-primary">{{aln}}</h2>
                <a href="{% url 'all_notes'%}"><h4 class="text-dark">All Notes</h4></a>
            </div>
        </div>
        <div class="col-sm-3 text-center mydiv mt-3">
            <div class="container1">
                <h2 class="text-primary">{{pn}}</h2>
                <a href="{% url 'pending_notes'%}"><h4 class="text-dark">Pending Notes</h4></a>
            </div>
        </div>
        <div class="col-sm-3 text-center mydiv mt-3">
            <div class="container1">
                <h2 class="text-primary">{{rn}}</h2>
                <a href="{% url 'rejected_notes'%}"><h4 class="text-dark">Rejected Notes</h4></a>
            </div>
        </div>
        <div class="col-sm-3 text-center mydiv mt-3">
            <div class="container1">
                <h2 class="text-primary">{{an}}</h2>
                <a href="{% url 'accepted_notes'%}"><h4 class="text-dark">Accepted Notes</h4></a>
            </div>
        </div>

</div>
</div>
<style>
</div> -->
<button class="scrollToTopBtn">☝️</button>
<script>
    var target = document.querySelector("footer");

    var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
    var rootElement = document.documentElement

    // Next we want to create a function that will be called when that element is intersected
    function callback(entries, observer) {
    // The callback will return an array of entries, even if you are only observing a single item
    entries.forEach(entry => {
        if (entry.isIntersecting) {
        // Show button
        scrollToTopBtn.classList.add("showBtn")
        } else {
        // Hide button
        scrollToTopBtn.classList.remove("showBtn")
        }
    });
    }

    function scrollToTop() {
    rootElement.scrollTo({
        top: 0,
        behavior: "smooth"
    })
    }
    scrollToTopBtn.addEventListener("click", scrollToTop);
        
    // Next we instantiate the observer with the function we created above. This takes an optional configuration
    // object that we will use in the other examples.
    let observer = new IntersectionObserver(callback);
    // Finally start observing the target element
    observer.observe(target);
</script>


{% endblock %}