{% extends "base.html" %}
{% load svg %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="filters {% if reviewed %}r{% endif %}">
    <details title="Filter by File Type" class="f-type">
      <summary id="ftype">File Type</summary>
      <ul class="dropdown">
        <li>All</li>
        <li>PDF</li>
        <li>JPG</li>
        <li>JPEG</li>
        <li>PNG</li>
        <li>DOCX</li>
        <li>PPTX</li>
        <li>TXT</li>
        <li>MD</li>
        <li>SVG</li>
        <li>ZIP</li>
      </ul>
    </details>
    <details title="Branch" class="b-type">
      <summary id="branch">Branch</summary>
      <ul class="dropdown">
        <li>All</li>
        <li>ECE</li>
        <li>CSE</li>
        <li>EEE</li>
        <li>IT</li>
        <li>ME</li>
      </ul>
    </details>
    {% if reviewed %}
    <details title="status" class="s-type">
      <summary id="status">Status</summary>
      <ul class="dropdown">
        <li>All</li>
        <li>Accepted</li>
        <li>Rejected</li>
      </ul>
    </details>
    {% endif %}
    <div class="input-field" title="Search">
      <input type="search" id="search" placeholder="Search" autocomplete="off" spellcheck="false">
    </div>
    <div class="clear-filters">
      <div class="clear-icon">{% svg "icon-cross" %}</div>
      Clear current search queries
    </div>
  </div>
  <div class="notes">
    <div class="notes-header">
      <div class="stat">
        <a class="stat-open {% if not reviewed %}active{% endif %}" href="{% url "admin_dashboard" 'open' %}">
          {% svg "icon-pending-bw" %}
          {{ pen }} Open
        </a>
        <a class="stat-reviewed {% if reviewed %}active{% endif %}" href="{% url "admin_dashboard" 'reviewed' %}">
          {% svg "icon-approved-bw" %}
          {{ rev }} Reviewed
        </a>
      </div>
      <p class="dwnl">Download</p>
      <p>Action</p>
    </div>
    <p class="emsg">No results matched your search.</p>
    {% if notes|length == 0  %}
    <p class="msg">There're nothing here</p>
    {% endif %}
    {% for i in notes %}
    <div class="note">
      <div class="note-title">
        <p class="n-title">{{i.subject|title}}
          <span title="Branch" class="label branch">
            {% if i.branch == "1" %}
            CSE
            {% elif i.branch == "2" %}
            EEE
            {% elif i.branch == "3" %}
            ECE
            {% elif i.branch == "4" %}
            IT
            {% elif i.branch == "5" %}
            ME
            {% else %}
            Engg.
            {% endif %}
          </span>
        </p>
        <p class="date">uploaded on {{i.uploadingdate}} by {{i.user.username}}</p>
        {% if i.status == "Pending" %}
        {% svg "icon-pending" %}
        {% elif i.status == "Accepted" %}
        {% svg "icon-approved" %}
        {% else %}
        {% svg "icon-cross-red" %}
        {% endif %}
      </div>
      <a href="{{i.notesfile.url}}" class="dw-type">{{i.filetype|upper}}</a>
      <div class="note-action">
        {% if not reviewed %}
        <button class="button accept as-st" data-id="{{i.id}}">Accept</button>
        <button class="button reject as-st" data-id="{{i.id}}">Reject</button>
        {% else %}
        {% if i.status == "Accepted" %}
        <button class="button accept" style="pointer-events: none;margin-right: 0;">Accepted</button>
        {% else %}
        <button class="button reject" style="pointer-events: none;">Rejected</button>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</main>
<script>
  const t = "{{ csrf_token }}";
  const a_s = "{% url 'assign_status' %}";
  const lg = "{% url 'login' %}";
  const p = "{% url 'profile' %}";
  const a_d = "{% url 'admin_dashboard' 'open' %}";
</script>
{% include "footer1.html" %}
{% endblock content %}