{%extends 'usernavigation.html'%}
{%load static%}
{%block body%}

 

<div class="container mt-5">
    <div class="row">
        
        <div class="col-sm-6">
            <h2 class="text-center">
                Change Password
            </h2>
            <hr>
            <form method="POST">
                {%csrf_token%}
            <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="enter old password" name="old">
            <label>New Password</label>
                    <input type="password" class="form-control"placeholder="enter new password" name="new">
            <label>Confirm Password</label>
                    <input type="password" class="form-control"placeholder="confirm new password" name="confirm">
                    <input type="submit" class="btn btn-danger mt-3" value="Submit">
            </form>
        </div>
        
    </div>
</div>
<button class="scrollToTopBtn">☝️</button>
<script>
    var target = document.querySelector("footer");

    var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
    var rootElement = document.documentElement

    // Next we want to create a function that will be called when that element is intersected
    function callback(entries, observer) {
    // The callback will return an array of entries, even if you are only observing a single item
    entries.forEach(entry => {
        if (entry.isIntersecting) {
        // Show button
        scrollToTopBtn.classList.add("showBtn")
        } else {
        // Hide button
        scrollToTopBtn.classList.remove("showBtn")
        }
    });
    }

    function scrollToTop() {
    rootElement.scrollTo({
        top: 0,
        behavior: "smooth"
    })
    }
    scrollToTopBtn.addEventListener("click", scrollToTop);
        
    // Next we instantiate the observer with the function we created above. This takes an optional configuration
    // object that we will use in the other examples.
    let observer = new IntersectionObserver(callback);
    // Finally start observing the target element
    observer.observe(target);
</script>



{% endblock %}
