{%extends 'usernavigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Password Changed Successfully');
    window.location.href="{% url 'logout' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}

<div class="container mt-5">
    <div class="row">
        
        <div class="col-sm-6">
            <h2 class="text-center">
                Change Password
            </h2>
            <hr>
            <form method="POST">
                {%csrf_token%}
            <label>Old Password</label>
                    <input type="password" class="form-control" placeholder="enter old password" name="old">
            <label>New Password</label>
                    <input type="password" class="form-control"placeholder="enter new password" name="new">
            <label>Confirm Password</label>
                    <input type="password" class="form-control"placeholder="confirm new password" name="confirm">
                    <input type="submit" class="btn btn-danger mt-3" value="Submit">
            </form>
        </div>
        
    </div>
</div>



{% endblock %}
