{%extends 'navigation.html'%}
{%load static%}
{%block body%}


<br>
<br>
<br>
<br>
<div class="container">
    
    <div class="row">
        <div class="col-sm">
        <div class="contact-form-wrap form-group">
        <div class="text-dark">
            <h3 style="font-weight: bold;" class="text-center">Get In Touch</h3>
        </div>
            <form class="contact-form" method="POST">
                {%csrf_token%}
 
                    <input  type="text" placeholder="Your Name" id="name" name="name">
                    
                    <br>

                    <input  type="text" placeholder="Your E-mail" id="mess" name="mess">
                    
                    <br>

                    <input type="text" placeholder="Subject" id="sub" name="sub">
                    
                    <br>

                    <textarea placeholder="Message" id="msg" name="msg"></textarea>
                    
                    <br>
                    
                    <button class="site-btn">Send Message</button>
                    
                    <br>
                
            </form>
       </div>
       </div>
    </div>
</div>

<style>
    .container{
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .form-group{
        width: 500px;
        border-radius: 10px;
        box-shadow: black;
        
    }
    form{
        border-radius: 10px;
    }
     /* #name{
	width: 300px;
	border: none;
	border-radius: 3px;
	outline: 0;
	padding: 7px;
    }
    #ph{
        width: 65px;
        padding: 7px;
        border: none;
        border-radius: 3px;
        outline: 0;
    }
    #num{
        width: 230px;
        padding: 7px;
        border: none;
        border-radius: 3px;
        outline: 0;
    }
    #sub{
        width: 200px;
        padding: 7px;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        outline: 0;
    } */
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
    .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
    .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
    .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
    .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
    .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
    .contact-info-area {
        padding-top: 60px;
    }
    .contact-form{
    padding:40px;
    background: #fff;
    color:black;
    
    }
    .contact-form input[type=text],
    .contact-form input[type=email],
    .contact-form textarea {
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
        float: left;
        border: none;
        font-size: 14px;
        font-weight: 500;
        background-color:#d1d8e0;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
    }
    .section-text {
    color:#EEE;
    padding:0 15px;
    margin-bottom:50px;
    }
    .contact-form-wrap {
    background: #d1d8e0;
    padding: 10px 20px 10px 20px;
    }
    .contact-form textarea {
        height: 100px;
        padding: 10px;
    }
    .contact-form input {
        width:100%;
    }
    .site-btn {
        background-color: #069; 
        border: none;
        color: white;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
    } 
    @media only screen and (max-width: 545px){
        .contact-form-wrap {
            width: 400px;
        }
    }
    @media only screen and (max-width: 428px){
        .contact-form-wrap {
            width: 300px;
        }
    }
    @media only screen and (max-width: 330px){
        .contact-form-wrap {
            width: 250px;
    }
}
</style>

{% include 'footer.html' %}
{% endblock %}