{%extends 'navigation.html'%}
{%load static%}
{%block body%}


<br>
<br>
<br>
<br>
<div class="text-justify-center container">
    
    <div class="row">
        <div class="col-4"></div>
        <div class="contact-form-wrap form-group">
        <div class="text-dark">
            <h3 style="font-weight: bold;" class="text-center">Get In Touch</h3>
        </div>
            <form class="contact-form " method="POST">
                {%csrf_token%}
 
                    <input class="form-group" type="text" placeholder="Your Name" id="name" name="name">
                    
                    <br>

                    <input class="form-group" type="text" placeholder="Your E-mail" id="mess" name="mess">
                    
                    <br>

                    <input class="form-group" type="text" placeholder="Subject" id="sub" name="sub">
                    
                    <br>

                    <textarea class="form-group" placeholder="Message" id="msg" name="msg"></textarea>
                    
                    <br>
                    
                    <button type="submit" class="site-btn">Send Message</button>
                    
                    <br>
                
            </form>
       
    </div>

    </div>
    </div>
</div>

<style>
    .container{
        margin-bottom: 10%;
    }
</style>

{% include 'footer.html' %}
{% endblock %}