{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="edit-profile">
    <h1 class="colored title">Edit Profile</h1>
    <form action="{% url "edit_profile" %}" method="POST" class="edit-profile-form">
      {% csrf_token %}
      <div class="input-group">
        <label for="fname">First Name</label>
        <div class="input-field">
          <input type="text" name="fname" id="fname" autocomplete="off" spellcheck="false" data-type="text" value={{user.first_name}}>
        </div>
      </div>
      <div class="input-group">
        <label for="lname">Last Name</label>
        <div class="input-field">
          <input type="text" name="lname" id="lname" autocomplete="off" spellcheck="false" data-type="text" value={{user.last_name}}>
        </div>
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <div class="input-field disabled">
          <input type="email" name="email" id="email" autocomplete="off" spellcheck="false" data-type="email" value={{user.username}} disabled>
        </div>
      </div>
      <div class="input-group">
        <label for="dept">Department</label>
        <div class="input-field disabled">
          <select name="dept" id="dept" data-type="select" disabled>
            <option value="0" selected disabled>Select Department</option>
            <option value="1" {% if data.branch == "1" %} selected {% endif %}>Computer Science and Engg.</option>
            <option value="2" {% if data.branch == "2" %} selected {% endif %}>Electrical Engg.</option>
            <option value="3" {% if data.branch == "3" %} selected {% endif %}>Electronics and Communication Engg.</option>
          </select>
        </div>
      </div>
      <div class="input-group">
        <label for="contact">Contact Number</label>
        <div class="input-field">
          <input type="tel" name="contact" id="contact" autocomplete="off" spellcheck="false" data-type="tel" value={{data.contact}}>
        </div>
      </div>
      <div class="input-group">
        <label for="role">Role</label>
        <div class="input-field disabled">
          <select name="role" id="role" data-type="select" disabled>
            <option value="0" selected disabled>Select Role</option>
            <option value="1" {% if data.role == "1" %} selected {% endif %}>
              Student
            </option>
            <option value="2" {% if data.role == "2" %} selected {% endif %}>Faculty</option>
          </select>
        </div>
      </div>
      <div class="form-footer">
        <button type="submit" class="button lg" id="form-btn">Update</button>
        <p class="tip"><button class="colored text" type="button" id="c-pass-btn">Change Password Here ✍</button></p>
      </div>
    </form>
  </div>
</main>
<script>
  const t = "{{ csrf_token }}";
  const c_p = "{% url 'change_password' %}";
</script>
{% include "footer1.html" %}
{% endblock content %}