{%extends 'navigation.html'%}

{% load static %}
{%block body%}




<h1>Forgot your login details?</h1>
	<div class="register">

		<form method="POST" action="{% url 'Forgot_Password' %}" id="resetForm">

            {%csrf_token%}
			<h2>Forgot Password</h2>
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
		<div class="container">
            <div class="row">
                <div class="col-sm">
                    <input type="email" id="email" class="form-control" placeholder="Enter Your Email" name="email">
                    <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
                </div>
            </div>
            <center><button type="button" id="sendOtpBtn" onClick="sendOTP()" class="btn btn-danger" style="margin-top: 20px;" disabled>Send OTP</button></center>
            <div class="row">
                <div class="otpFeedBackArea invalid-feedback mt-3" style="display: none"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 form-group" style="display: none" id="afterOTP">
                    <input type="text" id="otp" name="otp" class="form-control" placeholder="Enter OTP" required>
                    <div class="verifyFeedBackArea invalid-feedback" style="display: none"></div>
                    <center><button type="button" class="btn btn-success" style="margin-top: 20px;" id="verifyOtpBtn" onClick="verifyOTP()">Verify OTP</button></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group" style="display: none;" id="newPassword">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter new password" required>
                    <div class="passwordFeedBackArea invalid-feedback" style="display: none"></div>
                    <center>
                        <button type="submit" class="btn btn-success mt-3" id="changePasswordBtn">Change Password</button>
                    </center>
                </div>
            </div>
        </div>
		</form>
    </div>
    <style>

        .alert.success {background-color: #4CAF50;}

        .container {
            margin-bottom: 10%;
        }
        @media only screen and (max-width : 500px){
            .register{
                width: 90%;
            }
}

    </style>
    <script src="{% static 'js/forgot-pwd.js' %}"></script>
    
{% include 'footer.html' %}
{% endblock %}
