{%extends 'navigation.html'%}

{% load static %}
{%block body%}




<h1>Forgot your login details?</h1>
	<div class="register">

		<form method="POST"  action="">

            {%csrf_token%}
			<h2>Forgot Password</h2>
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
		<div class="container">
            <div class="row">
                <div class="col-sm">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First Name" name="first_name">
                    <div style="background-color: #f44336;"> {{ErrorFN}}</div>
                    <label>Last Name</label>

                    <input type="text" class="form-control" placeholder="Enter Last Name" name="last_name">
                    <div style="background-color: #f44336;margin: 5px; ">{{ErrorLN}}</div>
                </div>
                <div class="col-sm">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter Your Email" name="username">
                    <div style="background-color: #f44336; "> {{ErrorEmail}}</div>
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter your Password" name="password">
                    <label>Confirm Password</label>

                    <input type="password" class="form-control" name="rpassword" placeholder="Confirm Password">
                    <div style="background-color: #f44336;">{{ErrorFP}}</div>
                </div>
            </div>
            <input type="submit" class="btn btn-danger mt-3" value="Submit">
                </div>
		</form>
    </div>
    <style>

        .alert.success {background-color: #4CAF50;}

        .container {
            margin-bottom: 10%;
        }
        @media only screen and (max-width : 500px){
            .register{
                width: 90%;
            }
}

    </style>

{% include 'footer.html' %}
{% endblock %}
