{%extends 'navigation.html'%}

{% load static %}
{%block body%}

	<div class="text-center signup-heading">Forgot Password</div>
	<div class="register overlay-box pt-5">

		<form method="POST" action="{% url 'Forgot_Password' %}" id="resetForm">

            {%csrf_token%}
            {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
		<div class="container">
            <div class="row">
                <div class="col-sm">
                    <input type="email" id="email" class="form-control" placeholder="Enter Your Email" name="email">
                    <div class="emailFeedBackArea invalid-feedback" style="display:none"></div>
                </div>
            </div>
            <center><button type="button" id="sendOtpBtn" onClick="sendOTP()" class="button-styling btn btn-outline-danger rounded-pill mt-4 px-5" style="margin-top: 20px;" disabled>Send OTP</button></center>
            <div class="row">
                <div class="otpFeedBackArea invalid-feedback" style="display: none"></div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 form-group" style="display: none" id="afterOTP">
                    <input type="text" id="otp" name="otp" class="form-control" placeholder="Enter OTP" required>
                    <div class="verifyFeedBackArea invalid-feedback" style="display: none"></div>
                    <center><button type="button" class="button-styling btn btn-outline-success rounded-pill mt-4 px-5" style="margin-top: 20px;" id="verifyOtpBtn" onClick="verifyOTP()">Verify OTP</button></center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group" style="display: none;" id="newPassword">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter new password" required>
                    <div class="passwordFeedBackArea invalid-feedback" style="display: none"></div>
                    <center>
                        <button type="submit" class="button-styling btn btn-outline-success rounded-pill mt-4 px-5" id="changePasswordBtn">Change Password</button>
                    </center>
                </div>
            </div>
        </div>
		</form>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        .invalid-feedback{
            color: white;
        }
        input[type=text],input[type=email],input[type=password] {
         padding: 4px 19px;
         box-shadow:0 0 15px 4px rgba(18,41,74,0.75);
         width:100%;
         border-radius: 35px;
         font-family: 'Montserrat', sans-serif;
         border:0;
         outline:none; 
         margin: 15px 0;
        }
        .overlay-box{
        background-color: rgba(0,0,0,0.4);
        border-radius: 1px;
        box-shadow: 0px 1px 18px 7px rgba(18,41,74,0.75);
        }
        .signup-heading{
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        margin: 38px;
        }
        .container {
        margin-bottom: 10%;
        }
        @media only screen and (max-width : 500px){
        .register{
        width: 90%;
        }
        input[type=text],input[type=email],input[type=password]{
        font-size: 12px;
        }
        .signup-heading{
        font-size: 38px;
        margin: 28px;
        }
        }
        .alert.success {background-color: #4CAF50;}

    </style>
    <script src="{% static 'js/forgot-pwd.js' %}"></script>
    
{% include 'footer.html' %}
{% endblock %}
