{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block content %}
{% include "header.html" %}
<main class="home" id="home">
  <div class="hero-section">
    <div class="hero">
      <div class="hero-content">
        <h1 class="hero-h1">Share your files and learn, <span class="colored">success</span></h1>
        {% svg "illustration-learn" %}
      </div>
      <div class="hero-illust">
        {% svg "illustration-phone" %}
      </div>
    </div>
  </div>
  <div class="about-section" id="about">
    <h2 class="title colored lg">About</h2>
    <div class="hero about">
      <div class="hero-content">
        <h2 class="hero-h1">Our mission is to grow <span class="colored">together</span></h2>
      </div>
      <div class="hero-illust">
        {% svg "illustration-team" %}
      </div>
    </div>
    <div class="features">
      <div class="feature">
        {% svg "icon-essence" %}
        <h3>Essence</h3>
        <p>Share N Learn is a Common Platform for Students &amp; Faculties to upload and share files including study material which will be accessible to all the registered members.</p>
      </div>
      <div class="feature">
        {% svg "icon-goal" %}
        <h3>Goal</h3>
        <p>The Goal of the project is to create a secure and scalable platform common to both college students and faculties so that they can easily share the files.</p>
      </div>
    </div>
  </div>
  <div class="contact" id="contact">
    <h2 class="title colored lg">Contact</h2>
    <div class="form-container">
      <div class="form-illust">
        {% svg "illustration-contact" %}
      </div>
      <form action="{% url "contact" %}" method="POST" class="contact-form">
        {% csrf_token %}
        <div class="input-group">
          <label for="name">Name</label>
          <div class="input-field">
            <input type="text" name="name" id="name" autocomplete="off" spellcheck="false" data-type="text">
          </div>
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <div class="input-field">
            <input type="email" name="email" id="email" class="email-for-otp" autocomplete="off" spellcheck="false" data-type="email">
          </div>
          <button type="button" class="text colored ask-otp" id="ask-otp">Send OTP ✉</button>
        </div>
        <div class="input-group">
          <label for="subject">Subject</label>
          <div class="input-field">
            <input type="text" name="subject" id="subject" autocomplete="off" spellcheck="false" data-type="text">
          </div>
        </div>
        <div class="input-group">
          <label for="message">Message</label>
          <div class="input-field t-area">
            <textarea name="message" id="message" cols="30" rows="10" data-type="text"></textarea>
          </div>
        </div>
        <div class="input-group hide remove otp-field">
          <label for="otp">OTP</label>
          <div class="input-field">
            <input type="text" name="otp" id="otp" autocomplete="off" spellcheck="false" data-type="text">
          </div>
        </div>
        <div class="form-footer">
          <button type="button" class="button lg" id="contact-form-btn">Message</button>
        </div>
      </form>
    </div>
  </div>
</main>
<script>
  const t = "{{ csrf_token }}";
  const c = "{% url 'contact' %}";
  const s_o = "{% url 'send_otp_basic' %}";
</script>
{% include "footer1.html" %}
{% endblock content %}