{%extends 'navigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Logged in Successfully');
    window.location.href="{% url 'profile' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container mt-5 text-light">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                NEW USER
            </h2>
            <hr>
            <p class="text-light" style="font-size: larger;">
                Create an account at Share N Learn to upload and download the notes shared by the peers.
            </p>
            <a href="{%url 'signup'%}" class="btn btn-danger text-center mt-5">Create New Account</a>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                USER LOGIN
            </h2>
            <hr>
            <form method="POST">
                {%csrf_token%}
            <label>Email Address</label>
                    <input type="email" class="form-control" placeholder="enter college mail" name="emailid">
            <label>Password</label>
                    <input type="password" class="form-control"placeholder="enter password" name="pwd">
                    <br><div class="g-recaptcha" data-sitekey="123xyz"></div>
                    <input type="submit" class="btn btn-danger mt-3" value="Sign In">
                <div class="row">
                  {% if messages %}
                  <div class="col-12">
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% endfor %}
                  </div>
                  {% endif %}
                </div>
            </form>
        </div>

    </div>
</div>

<style>
    .container {
        margin-bottom: 10%;
    }

</style>

{% include 'footer.html' %}
{% endblock %}
