{%extends 'navigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Logged in Successfully');
    window.location.href="{% url 'admin_home' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<div class="container mt-5" style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <b>Admins can access the dashboard by logging in using their credentials</b>
            </p>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                ADMIN LOGIN
            </h2>
            <hr>
            <form method="POST" class="needs-validation novalidate" >
                {%csrf_token%}
                 <div class="form-row">
                     <div class="form-group col-sm-8">
                        <label for="validationTooltipUsername">Username</label>
                        <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsername" required>
                        <div class="invalid-tooltip">
                            Please enter a unique and valid username.
                        </div>
                     </div>
                     <div class="form-group col-sm-8">
                        <label for="validationTooltipPassword">Password</label>
                        <input type="password" class="form-control"id="validationTooltipPassword "placeholder="Enter password" name="pwd" area-describedby="validationTooltipPassword" required>
                        <div class="invalid-tooltip">
                            Please enter a valid password.
                        </div>
                     </div>
                 </div>  
                 <input type="submit" class="btn btn-danger mt-3" value="Sign In">  
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
