{%extends 'navigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Logged in Successfully');
    window.location.href="{% url 'profile' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                NEW USER
            </h2>
            <hr>
            <p>
                Create an account at Share N Learn to upload and download the notes shared by the peers.
            </p>
            <a href="{%url 'signup'%}" class="btn btn-danger text-center mt-5">Create New Account</a>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                USER LOGIN
            </h2>
            <hr>
            <form method="POST">
                {%csrf_token%}
            <label>Email Address</label>
                    <input type="email" class="form-control" placeholder="enter college mail" name="emailid">
            <label>Password</label>
                    <input type="password" class="form-control"placeholder="enter password" name="pwd">
                    <input type="submit" class="btn btn-danger mt-3" value="Sign In">
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
