{%extends 'navigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Logged in Successfully');
    window.location.href="{% url 'admin_home' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<div class="container mt-5" style="background-color: whitesmoke;">
    <div class="row">
        <div class="col-sm-6">
            <p>
                Admins can access the dashboard by logging in using their credentials
            </p>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                ADMIN LOGIN
            </h2>
            <hr>
            <form method="POST" >
                {%csrf_token%}
            <label>UserName</label>
                    <input type="text" class="form-control" placeholder="enter username" name="uname">
            <label>Password</label>
                    <input type="password" class="form-control"placeholder="enter password" name="pwd">
                    <input type="submit" class="btn btn-danger mt-3" value="Sign In">
            </form>
        </div>
        
    </div>
</div>
{% endblock %}