{%extends 'navigation.html'%}
{%load static%}
{%block body%}

{%  ifequal error "no" %}
<script>
    alert('Logged in Successfully');
    window.location.href="{% url 'profile' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials, Try Again');
</script>
{% endifequal %}
<div class="container mt-5 text-light">
    <div class="row">
        <div class="col-sm-6">
            <br><br>
            <h2 class="text-center">
                NEW USER
            </h2>
            <hr>
            <p class="text-light" style="font-size: larger;">
                Create an account at Share N Learn to upload and download the notes shared by the peers.
            </p>
            <a href="{%url 'signup'%}" class="btn btn-danger text-center mt-5">Create New Account</a>
        </div>
        <div class="col-sm-6">
            <div class = "login">
                <form method="POST" class="login" name="loginform">
                    {%csrf_token%}
                    <div class="form-icon">
                        <i class="icon icon-user"></i>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control item" id="email" placeholder="Enter college email id">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control item" id="password" placeholder="Enter password">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-block submit">SIGN IN</button>
                    </div>
                    <center><a href="#" class="forgot">Forgot your email or password?</a></center>
                </form>
            </div>
        </div>   
    </div>
</div>

<style>
    .container {
        margin-bottom: 10%;
    }

</style>

{% include 'footer.html' %}
{% endblock %}
