<html lang="en">

<head>
    {% load static %}
    <title>Share N Learn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/images/myicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/mystyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    </head> 

    
</head> 


<!-- 
    
-->
<!-- link static files with templates -->
<link type="text/css" rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<link rel="stylesheet" href="../static/css/mystyle.css">
<style>
    ul li:hover {
        background: #3E92CC;
        /* background:#4b7bec; */
    }

    .navbar {
        background-color: #d1d8e0;
        margin: 0;
    }

    li:active {
        color: black;
    }

    body {
        
        background:linear-gradient(to bottom, rgba(0,0,0,20%), rgba(0,0,0,50%) ),  url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80) no-repeat;
        background-size: cover;
        background-position: center;
    }  
</style>

</head>


<body class="text-light">
    <nav class="navbar sticky-top navbar-light navbar-expand-lg mh-nav nav-btn justify-content-left">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icon">
                <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bricks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2H15V1H5.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
                                        </svg> -- !-->
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto ml-auto nav" id="btn-box">
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'index'%}" onclick=""><b>Home</b></a>
                </li>
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'about'%}"><b>About</b></a>
                </li>
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'contact'%}"><b>Contact</b></a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'admin_home' %}"><b>Admin Panel</b></a>
                </li>
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'logout'%}"><b>Logout {{user}}</b></a>
                </li>                
                {% else %}
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'profile'%}"><b>Profile</b></a>
                </li>
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'logout'%}"><b>Logout {{user}}</b></a>
                </li>
                {% endif %}
                {% else %}
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'login'%}"><b>Login</b></a>
                </li>
                <li class="navbar-item btn">
                    <a id="nav" class="nav-link" href="{%url 'login_admin'%}"><b>Admin Login</b></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    
    </div>

    <button class="scrollToTopBtn">☝️</button>
    <script>
        var target = document.querySelector("footer");

        var scrollToTopBtn = document.querySelector(".scrollToTopBtn")
        var rootElement = document.documentElement

        // Next we want to create a function that will be called when that element is intersected
        function callback(entries, observer) {
        // The callback will return an array of entries, even if you are only observing a single item
        entries.forEach(entry => {
            if (entry.isIntersecting) {
            // Show button
            scrollToTopBtn.classList.add("showBtn")
            } else {
            // Hide button
            scrollToTopBtn.classList.remove("showBtn")
            }
        });
        }

        function scrollToTop() {
        rootElement.scrollTo({
            top: 0,
            behavior: "smooth"
        })
        }
        scrollToTopBtn.addEventListener("click", scrollToTop);
            
        // Next we instantiate the observer with the function we created above. This takes an optional configuration
        // object that we will use in the other examples.
        let observer = new IntersectionObserver(callback);
        // Finally start observing the target element
        observer.observe(target);
    </script>

    <script> 
        $(document).ready(function () {
        const url = location.href;
        $("ul a").each(function () {
            if (this.href === url) {
            $(this).addClass("active");
            }
        });
        }); 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


</html>

{% block body %}
{% endblock %}