<html lang="en">
    <head>
        {% load static %}
        <title>Share N Learn</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="static/css/mystyle.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- link static files with templates -->
        <link type="text/css" rel="stylesheet" href ="{% static 'css/mystyle.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-sm justify-content-center" style="background-color: rgb(255, 255, 255);">
        <ul class="navbar-nav" style="color: rgb(10, 41, 3);">
            <li class="navbar-item">
                <a class="nav-link" href="{%url 'index'%}">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{%url 'about'%}">About</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{%url 'login'%}">Login</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{%url 'login_admin'%}">Admin Login</a>
            </li>
        </ul>
    </nav>
    </body>
</html>

{% block body %}
{% endblock %}