{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="upload-new">
    <h1 class="colored title">Upload New</h1>
    <input type="hidden" name="ftype" id="ftype" value="" style="display: none;pointer-events: none;" form="upload-new-form">
    <form action="{% url "upload_notes" %}" method="POST" class="upload-new-form" id="upload-new-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="input-group file-grp">
        <label for="file">Upload Here</label>
        <div class="input-field file-input">
          <div>
            <input type="file" name="file" id="file" data-type="file">
            {% svg "icon-folder" %}
          </div>
          <p class="accepted-formats">.pdf, .docx, .pptx, .jpg, .jpeg, .png, .md, .svg, .txt, .zip</p>
          <p class="selected-file"></p>
        </div>
      </div>
      <div class="input-group">
        <label for="dept">Department</label>
        <div class="input-field">
          <select name="dept" id="dept" data-type="select">
            <option value="0" selected disabled>Select Department</option>
            <option value="1">Computer Science and Engg.</option>
            <option value="2">Electrical Engg.</option>
            <option value="3">Electronics and Communication Engg.</option>
            <option value="4">Information Technology</option>
            <option value="5">Mechanical Engineering</option>
          </select>
        </div>
      </div>
      <div class="input-group">
        <label for="subject">Subject</label>
        <div class="input-field">
          <input type="text" name="subject" id="subject" data-type="text">
        </div>
      </div>
      <div class="input-group">
        <label for="desc">Description</label>
        <div class="input-field t-area">
          <textarea name="desc" id="desc" cols="30" rows="10" data-type="text"></textarea>
        </div>
      </div>
      <div class="form-footer">
        <button type="submit" class="button lg" id="form-btn">Submit</button>
      </div>
    </form>
  </div>
</main>
{% include "footer1.html" %}
{% endblock content %}