{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block content %}
{% include "header.html" %}
<main>
  <h1 class="title t-l">{{note.subject}}</h1>
  <div class="e-action-mob">
    {% if request.user.is_staff or request.user.is_superuser %}
    <div class="e-note-action">
      {% if note.status == "Pending" %}
      <button class="button fine as-st accept" data-id={{ note.id }}>Accept</button>
      <button class="button dang as-st reject" data-id={{ note.id }}>Reject</button>
      {% elif note.status == "Accepted" %}
      <button class="button dang as-st reject" data-id={{ note.id }}>Reject</button>
      {% else %}
      <button class="button fine as-st accept" data-id={{ note.id }}>Accept</button>
      {% endif %}
    </div>
    {% endif %}
    <div class="e-note-reaction nr">
      <div class="like">
        <button class="{% if note.liked_note %}tick{% endif %}" data-url="{% url "like" %}" data-not-login="{% url "login" %}" id="like-it" data-id={{note.id}}>{% svg "icon-thumbsup" %}</button>
        <span id="like-count">{{ note.l_count }}</span>
      </div>
      <div class="dislike">
        <button class="{% if note.disliked_note %}tick{% endif %}" data-url="{% url "dislike" %}" data-not-login="{% url "login" %}" id="dislike-it" data-id={{note.id}}>{% svg "icon-thumbsdown" %}</button>
        <span id="dislike-count">{{ note.dl_count }}</span>
      </div>
    </div>
  </div>
  <div class="e-note">
    <div class="e-note-header">
      <div class="e-note-profile" {% if note.profile %}style="background-image: url('{{note.profile.url}}')" ;{% endif %}></div>
      <p><a href="mailto:{{ note.user.username }}">{{ note.user.username }}</a> on {{ note.uploadingdate }}</p>
    </div>
    {% if note.own %}
    <a href="{% url "delete_usernotes" note.id %}" class="delete-note">{% svg 'icon-clear' %}</a>
    {% endif %}
    <div class="e-note-body">
      <div class="e-note-desc">
        {{ note.description }}
      </div>
      <div class="e-note-dwnl">
        <h2 class="title t-l">Download</h2>
        <a href="{{note.notesfile.url}}">{{ note.filetype|upper }}</a>
      </div>
    </div>
  </div>
</main>
<script>
  const t = "{{ csrf_token }}";
  const a_s = "{% url 'assign_status' %}";
  const lg = "{% url 'login' %}";
  const p = "{% url 'profile' %}";
  const a_d = "{% url 'admin_dashboard' 'open' %}";
</script>
{% include "footer1.html" %}
{% endblock content %}