{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block content %}
{% include "header.html" %}
<main>
  <h1 class="title t-l">Think Python - A Book</h1>
  <div class="e-action-mob">
    <div class="e-note-action">
      <button class="button fine">Accept</button>
      <button class="button dang">Reject</button>
    </div>
    <div class="e-note-reaction">
      <div class="like">
        <button disabled title="Feature Coming Soon">{% svg "icon-thumbsup" %}</button>
        <span id="like-count">0</span>
      </div>
      <div class="dislike">
        <button disabled title="Feature Coming Soon">{% svg "icon-thumbsdown" %}</button>
        <span id="dislike-count">0</span>
      </div>
    </div>
  </div>
  <div class="e-note">
    <div class="e-note-header">
      <div class="e-note-profile"></div>
      <p><a href="#">david@gmail.com</a> on 2021-05-12</p>
    </div>
    <div class="e-note-body">
      <div class="e-note-desc">
        Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects. This book gives you an intro to python. This is ‘Think Python’. It helps us to think in python.
      </div>
      <div class="e-note-dwnl">
        <h2 class="title t-l">Download</h2>
        <a href="#">PDF</a>
      </div>
    </div>
  </div>
</main>
{% include "footer1.html" %}
{% endblock content %}