{% extends "base.html" %}
{% load static %}
{% load svg %}
{% block content %}
{% include "header.html" %}
<main class="list">
  <div class="list-uploads">
    <h1 class="colored title">My Uploads</h1>
    <div class="cards">
      {% if notes|length == 0  %}
      <p class="msg">Looks like you haven't uploaded anything..</p>
      {% endif %}
      {% for i in notes %}
      <div class="card">
        <div class="card-header">
          <p title="Date Uploaded">{{i.uploadingdate}}</p>
          <p title="Branch">
            {% if i.branch == "1" %}
            CSE
            {% elif i.branch == "2" %}
            EEE
            {% elif i.branch == "3" %}
            ECE
            {% elif i.branch == "4" %}
            IT
            {% elif i.branch == "5" %}
            ME
            {% else %}
            Engg.
            {% endif %}
          </p>
          <a title="Download" href="{{i.notesfile.url}}" download>{{i.filetype|upper}}</a>
          {% if i.status == "Accepted" %}
          {% svg "icon-approved" %}
          {% elif i.status == "Pending" %}
          {% svg "icon-pending" %}
          {% else %}
          {% svg "icon-cross-red" %}
          {% endif %}
        </div>
        <div class="card-body">
          <h2 class="card-body-title">{{i.subject|title}}</h2>
          <p class="card-body-desc">{{i.description|truncatechars:125}}</p>
        </div>
        <a href="{% url "delete_usernotes" i.id %}" class="delete">
          {% svg "icon-clear" %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% include "footer1.html" %}
{% endblock content %}